<%- include('./partials/header.ejs') %>
<body>

  
  <main role="main">

    <%- include('./partials/navigation.ejs', {page_name: 'Home'}) %>

    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">
          <% for (let bicycle of bicycles) { %>

          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <% if (bicycle.discount_percentage>0) { %>
              <span class="overlay-text">-<%=bicycle.discount_percentage %>%</span>
              <% } %>
              <img class="card-img-top p-3 pt-4" src="/images/<%=bicycle.image%>" alt="Card image cap">
              <div class="card-body">
                <h5 class="text-center">
                  <a href="./bicycle/<%=bicycle._id%>" class="bicycle-name"><%=bicycle.name%></a>
                </h5>
                <p class="card-text text-center"><%=bicycle.description%></p>
                <div class="bicycle-rating text-center">

                  <% for (let index = 0; index < bicycle.star; index++) { %>
                    <span class="fa fa-star checked"></span>
                  <% } %>
                  <% for (let index = 0; index < 5 - bicycle.star; index++) { %>
                    <span class="fa fa-star"></span>
                  <% } %>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="card-text text-center mx-auto">
                    <p>$<% if(bicycle.discount_percentage > 0) { %>
                      <%= Math.round(bicycle.price * (100 - bicycle.discount_percentage) / 100) %>
                   <% } else { %> 
                   <%=bicycle.price %>
                    <% } %>
                 
                        <% if(bicycle.discount_percentage != 0) { %>
                          <s class="text-muted small">
                        <%=bicycle.price %>
                          </s>
                      <% } %>                 
                    
                    </p> 
                  </div>
                </div>
              </div>
            </div>
          </div>

          <% } %>

          
        </div>
      </div>
    </div>

  </main>

</body>
</html>