
<%- include('./partials/header.ejs') %>
<body>
  
  <%- include('./partials/adminnavigation.ejs') %>

  <div class="container mt-1">
    <form id="edit-post-form">
      <input type="hidden" name="_id" value="<%=bicycle._id%>">
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="name" value="<%=bicycle.name%>">
      </div>
      <div class="form-group">
        <label>Category</label>
        
        <select name="category" class="form-control">
          <% for (let category of categories) { %>
          <option value="<%=category.category%>"
            <% const cat = bicycle.category%>
            <% if (category.category == cat.category) { %>
            selected
           <% } %>
            ><%=category.category%></option>
            <% } %>
        </select>
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea name="description" id="" cols="30" rows="5" class="form-control" placeholder="Category description"><%=bicycle.description%></textarea>
      </div>
      <div class="form-group">
        <label>Price</label>
        <input type="text" class="form-control" name="price" value="<%=bicycle.price%>">
      </div>
      <div class="form-group">
        <label>Discount</label>
        <input type="text" class="form-control" name="discount_percentage" value="<%=bicycle.discount_percentage%>">
      </div>
      <div style="display: none" class="alert alert-success" id="success-message"></div>

      <div style="float:left">
      <button style="display: inline" type="submit" class="btn btn-primary">Update item</button>           
   
    </form>
    
      
     
    <form style="display: inline" action="/members/posts/"><button type="submit" class="btn btn-dark">Back</button>
    </form>
    </div>
  </div>

  <script src="/js/script.js"></script>
</body>
</html>