
<%- include('./partials/header.ejs') %>
<body>
  
  <%- include('./partials/adminnavigation.ejs') %>

  <div class="container mt-1">
    <form action="/members/posts/add" method="post" enctype="multipart/form-data">

      <div class="form-group">
        <label>Item name</label>
        <input type="text" class="form-control" name="name" placeholder="Item name">
      </div>
      <div class="form-group">
        <label>Category</label>
        <select name="category" class="form-control">
          <% for (let category of categories) { %>
          <option value="<%=category.category%>"><%=category.category%></option>
            <% } %>
        </select>
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea name="description" id="" cols="30" rows="5" class="form-control" placeholder="Category description"></textarea>
      </div>
      <div class="form-group">
        <label>Price</label>
        <input type="text" class="form-control" name="price" placeholder="Price">
      </div>
      <div class="form-group">
        <label>Discount</label>
        <input type="text" class="form-control" name="discount_percentage" placeholder="Discount">
      </div>
      <div class="form-group">
        <label>Image</label>
        <input type="file" class="form-control" id="formFile" name="image" multiple="multiple" accept="image/*">
      </div>

      <% if (messages.success) { %>
        <div class="alert alert-success"><%=messages.success%></div>
        <% } %>
        <% if (messages.error) { %>
          <div class="alert alert-danger"><%=messages.error%></div>
        <% } %>

      <div style="float:left">
      <button style="display: inline" type="submit" class="btn btn-primary">Add item</button>           
   
    </form>
    
      
     
    <form style="display: inline" action="/members/posts/"><button type="submit" class="btn btn-dark">Back</button>
    </form>
   
    </div>
  </div>


</body>
</html>