
<%- include('./partials/header.ejs') %>
<body>
  
  <%- include('./partials/adminnavigation.ejs') %>

  <div class="container mt-1">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        <% var i=1 %>
    <% for (let category of categories) { %>
      
      <div class="col-md-4">
           <p></p> 
      </div>
    
          <tr>
            <th scope="row"><%=i%></th>
            <td><a href="/members/categories/<%=category._id%>" class="bicycle-name"><%=category.category%></a></td>
            <td><%=category.description%></td>
            <td>
              <div style="float:left">
              <form style="display: inline" action="/members/categories/<%=category._id%>"><button type="submit" class="btn btn-dark btn-sm">Edit</button>
                </form>
                <form style="display: inline" method="post" action="/members/categories/<%=category._id%>?_method=DELETE"><button type="submit" class="btn btn-danger btn-sm">Delete</button></form>
              </div>
            </td>
          </tr>
          <tr>
      <% i++; %>
     
  <% } %>
  </tbody>
  </table>
  <% if (messages.success) { %>
  <div class="alert alert-success"><%=messages.success%></div>
  <% } %>
  <% if (messages.error) { %>
    <div class="alert alert-danger"><%=messages.error%></div>
  <% } %>
    <form action="/members/categories/" method="post">
      <div class="form-group">
        <label>Category Name</label>
        <input type="text" class="form-control" placeholder="Category" name="category">
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea name="description" id="" cols="30" rows="5" class="form-control" placeholder="Category description"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Add category</button>
    </form>
  </div>

</body>
</html>